include:
  - project: 'sysadm-docker/ubuntu-sshclient'
    ref:     'master'
    file:    'gitlab-ci-template.yml'
  - project: 'security/security-tools'
    ref: 'v2'
    file: 'adapter/sdk/security-tools-store-unity-sdk.yml'

stages:
  - autotests
  - demo_2021
  - demo_2022
  - demo_6000
  - build
  - deploy
  - linking
  - security scan

variables:
  AUTOTESTS_SCRIPT: "cicd/autotests.py"
  BUILD_DEMO_SCRIPT: "cicd/build_demo.py"
  BUILD_TARGET_WINDOWS: "StandaloneWindows64"
  BUILD_TARGET_WEBGL: "WebGL"
  BUILD_TARGET_ANDROID: "Android"
  BUILD_TARGET_IOS: "iOS"
  BUILD_TARGET_MACOS: "StandaloneOSX"
  UNITY_2019_VERSION: "2019.4.27f1"
  UNITY_2021_VERSION: "2021.1.13f1"
  UNITY_2022_VERSION: "2022.3.26f1"
  UNITY_6000_VERSION: "6000.0.9f1"

# =================================================================================================================
# JOBS BASE

.win_job_base:
  resource_group: win_runner
  artifacts:
    when: always
    expire_in: 3 days
  dependencies: []
  tags:
    - sdk_ci
    - windows

.mac_job_base:
  resource_group: mac_runner
  before_script:
    - chmod 755 fastlane/scripts/diawi_callback_helper.sh
  artifacts:
    when: always
    expire_in: 3 days
  dependencies: []
  tags:
    - sdk_ci
    - mac

# =================================================================================================================
# AUTOTESTS

autotests_job:
  extends: .win_job_base
  stage: autotests
  script:
    - python %AUTOTESTS_SCRIPT% %CI_PROJECT_DIR% %UNITY_2019_VERSION%
  artifacts:
    when: on_failure
    name: "autotests-%CI_COMMIT_REF_SLUG%"
    paths:
      - Logs/autotests_report.log

# =================================================================================================================
# DEMO 2021

demo_2021_win:
  extends: .win_job_base
  stage: demo_2021
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2021_VERSION% %BUILD_TARGET_WINDOWS%
  artifacts:
    name: "demo-2021-win-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2021_android:
  extends: .win_job_base
  stage: demo_2021
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2021_VERSION% %BUILD_TARGET_ANDROID%
  artifacts:
    name: "demo-2021-android-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2021_webgl:
  extends: .win_job_base
  stage: demo_2021
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2021_VERSION% %BUILD_TARGET_WEBGL%
  artifacts:
    name: "demo-2021-webgl-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2021_ios:
  extends: .mac_job_base
  stage: demo_2021
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_2021_VERSION $BUILD_TARGET_IOS
  artifacts:
    name: "demo-2021-ios-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

demo_2021_mac:
  extends: .mac_job_base
  stage: demo_2021
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_2021_VERSION $BUILD_TARGET_MACOS
  artifacts:
    name: "demo-2021-mac-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

# =================================================================================================================
# DEMO 2022

demo_2022_win:
  extends: .win_job_base
  stage: demo_2022
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2022_VERSION% %BUILD_TARGET_WINDOWS%
  artifacts:
    name: "demo-2022-win-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2022_android:
  extends: .win_job_base
  stage: demo_2022
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2022_VERSION% %BUILD_TARGET_ANDROID%
  artifacts:
    name: "demo-2022-android-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2022_webgl:
  extends: .win_job_base
  stage: demo_2022
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_2022_VERSION% %BUILD_TARGET_WEBGL%
  artifacts:
    name: "demo-2022-webgl-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_2022_ios:
  extends: .mac_job_base
  stage: demo_2022
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_2022_VERSION $BUILD_TARGET_IOS
  artifacts:
    name: "demo-2022-ios-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

demo_2022_mac:
  extends: .mac_job_base
  stage: demo_2022
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_2022_VERSION $BUILD_TARGET_MACOS
  artifacts:
    name: "demo-2022-mac-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

# =================================================================================================================
# DEMO 6000

demo_6000_win:
  extends: .win_job_base
  stage: demo_6000
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_6000_VERSION% %BUILD_TARGET_WINDOWS%
  artifacts:
    name: "demo-6000-win-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_6000_android:
  extends: .win_job_base
  stage: demo_6000
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_6000_VERSION% %BUILD_TARGET_ANDROID%
  artifacts:
    name: "demo-6000-android-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_6000_webgl:
  extends: .win_job_base
  stage: demo_6000
  script:
    - python %BUILD_DEMO_SCRIPT% %CI_PROJECT_DIR% %UNITY_6000_VERSION% %BUILD_TARGET_WEBGL%
  artifacts:
    name: "demo-6000-webgl-%CI_COMMIT_REF_SLUG%"
    paths:
      - Builds

demo_6000_ios:
  extends: .mac_job_base
  stage: demo_6000
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_6000_VERSION $BUILD_TARGET_IOS
  artifacts:
    name: "demo-6000-ios-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

demo_6000_mac:
  extends: .mac_job_base
  stage: demo_6000
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $UNITY_6000_VERSION $BUILD_TARGET_MACOS
  artifacts:
    name: "demo-6000-mac-$CI_COMMIT_REF_SLUG"
    paths:
      - Builds

# =================================================================================================================
# DOCS

build doc:
  stage: build
  only:
    - /^v.*/
  image: node:14-alpine3.15
  script:
  - apk update && apk add doxygen graphviz ttf-freefont zip git
  - doxygen Documentation/Autogen/Doxyfile >/dev/null
  - git clone https://$GITHUB_ACCESS_TOKEN@github.com/xsolla/sdk-reference-parser-unity-ue.git
  - mkdir -p sdk-reference-parser-unity-ue/src
  - mkdir -p sdk-reference-parser-unity-ue/dist
  - mv Documentation/Autogen/html/ sdk-reference-parser-unity-ue/src >/dev/null
  - cd sdk-reference-parser-unity-ue
  - npm install
  - npm start
  - mv -v dist/html/* dist >/dev/null
  - cd dist && zip -r $CI_PROJECT_DIR/build.zip * >/dev/null
  artifacts:
    paths:
    - build.zip
  tags:
    - devops

deploy doc:
  stage: deploy
  extends:      .deploy doc
  only:
    - /^v.*/
  dependencies:
    - build doc
  environment:
    name: doc/$CI_COMMIT_REF_SLUG
    url: https://$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME.doc.srv.local/$URL_SLUG
    on_stop: stop doc
  when: manual
  tags:
    - sshclient

current doc:
  extends:      .current doc
  only:
    - /^v.*/
  dependencies:
    - deploy doc
  environment:
    name: doc/current
    url: https://developers.xsolla.com/sdk-code-references/unity-store
  tags:
    - sshclient

stop doc:
  extends:      .stop doc
  environment:
    name: doc/$CI_COMMIT_REF_SLUG
    action: stop
  only:
    - /^v.*/
  tags:
    - sshclient
  dependencies: []

# =========================================================================================================================
# DEPLOY DEMO

deploy stage:
    stage: deploy
    extends: .deploy stage
    variables:
        ENV: stage
    only:
        - /^stage-.*/
    except:
        - branches
    dependencies:
        - demo_2021_webgl
    script:
        - /usr/local/bin/helper deploy ./Builds

current stage:
    stage: linking
    extends: .current stage
    variables:
        ENV: stage
    only:
        - /^stage-.*/
    except:
        - branches
    script:
        - /usr/local/bin/helper current

stop stage:
    stage: deploy
    extends: .stop stage
    only:
        - /^stage-.*/
    except:
        - branches
    script:
        - /usr/local/bin/helper stop

deploy prod:
    stage: deploy
    extends: .deploy prod
    variables:
        ENV: prod
    dependencies:
        - demo_2021_webgl
    script:
        - /usr/local/bin/helper deploy ./Builds

current prod:
    stage: linking
    extends: .current prod
    variables:
        ENV: prod
    script:
        - /usr/local/bin/helper current

stop prod:
    stage: deploy
    extends: .stop prod
    script:
        - /usr/local/bin/helper stop